<?xml version="1.0" encoding="UTF-8"?>
<server description="Default server">

    <!-- Enable features -->
    <featureManager>
        <feature>javaee-7.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>servlet-3.1</feature>
        <feature>websocket-1.1</feature>
        <feature>appSecurity-2.0</feature>
        <feature>ldapRegistry-3.0</feature>
    </featureManager>

    <!-- This template enables security. To get the full use of all the capabilities, a keystore and user registry are required. -->

    <!-- For the keystore, default keys are generated and stored in a keystore. To provide the keystore password, generate an
         encoded password using bin/securityUtility encode and add it below in the password attribute of the keyStore element.
         Then uncomment the keyStore element. -->
    <!--
    <keyStore password=""/>
    -->

    <keyStore id="defaultKeyStore" password="${env.KEYSTORE_PASSWORD}"/>
    <!--For a user registry configuration, configure your user registry. For example, configure a basic user registry using the
        basicRegistry element. Specify your own user name below in the name attribute of the user element. For the password,
        generate an encoded password using bin/securityUtility encode and add it in the password attribute of the user element.
        Then uncomment the user element. -->
	
  <!-- User and group security definitions -->
    <basicRegistry id="basic" realm="customRealm">
        <user name="rbarcia" password="bl0wfish"/>
        <group name="SecureShopper">
      <member name="rbarcia"/>
     </group>
    </basicRegistry>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
		          httpPort="9080"
                  httpsPort="9443" />

<application id="ShoppingWebBFFService" name="ShoppingWebBFFService" type="war" location="/config/apps/ShoppingWebBFFService.war">
    <classloader apiTypeVisibility="spec, ibm-api, third-party" />
</application>

    
</server>
